{% extends "layout.html" %}
{% block content %}
<h1><a class="article-title" href="#">About Page</a></h1>
	<p class="text-white">GameBook is driven to target and help a community of like minded people with a similar interest in the video gaming world, especially those who feel socially alienated from society so this platform will build a community for them to freely interact with each other about video games, share ideas and build long lasting connections. The gaming community comes under a lot of criticism, people calling it child-ish or unserious, but video games are for everyone and anyone and they help a lot of people out there interact and engage with others and what better way than having a platform of gamers to interact with each other in a safe space free from judgment and a great way to connect to fellow peers.</p>
{% endblock content %}
