{% extends "layout.html" %}
{% block content %}
	<h1><a class="article-title" href="#">About Page</a></h1>
	<!-- List group -->
	<div class="list-group" id="myList" role="tablist">
	  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
	  <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
	  <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
	  <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
	</div>

	<div class="tab-content">
	  <div class="tab-pane fade show active" id="home" role="tabpanel">While pursuing this project, i intend to use a variety of technologies to accomplish the task and some of the technologies i intend to use are as follows:
Languages: i intend to use python, python web framework, HTML, CSS, javascript. 
</div>
	  <div class="tab-pane fade" id="profile" role="tabpanel">While pursuing this project, i intend to use a variety of technologies to accomplish the task and some of the technologies i intend to use are as follows:
Languages: i intend to use python, python web framework, HTML, CSS, javascript. 
</div>
	  <div class="tab-pane fade" id="messages" role="tabpanel">While pursuing this project, i intend to use a variety of technologies to accomplish the task and some of the technologies i intend to use are as follows:
Languages: i intend to use python, python web framework, HTML, CSS, javascript. 
</div>
	  <div class="tab-pane fade" id="settings" role="tabpanel">While pursuing this project, i intend to use a variety of technologies to accomplish the task and some of the technologies i intend to use are as follows:
Languages: i intend to use python, python web framework, HTML, CSS, javascript. 
</div>
	</div>
{% endblock content %}